@charset "utf-8";
/* CSS Document */

*{
	padding:0;
	margin:0
}

/* Global Classes */

.button {
	padding: 10px;
	border: none;
	background-color: #98bf21;
	border-radius: 5px;
	color: #fff;
}

.button:hover {
	background: #c30;
	color: #fff;
}

#responsiveNav{
	display:none;
}

.block-fix {
	display: inline-block;
}

/* START OF NAVIGATION */
.clearfix:before,
.clearfix:after {
	content: "";
	display: table;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	*zoom: 1;
}

#nav_border {
	height: 5px;
	width: 100%;
	background: #bb2a3b;
}

nav {
	height: 110px;
	width: 100%;
	background: #15171b;
    font-size: 10pt;  
	font: 'Open Sans', sans-serif;
	letter-spacing: 0.1em;
    position: relative;  
    text-transform: uppercase;
}  

nav img#logo {
	position: absolute;
	height: 70px;
	margin-top: 10px;
	margin-left: 20px;
}

nav ul {  
	padding: 0;
	margin-top:30px;
	margin-left: auto;
	margin-right: auto;
    width: 600px;  
    height: 40px;  
}  

nav li {
	display: block;
	float: left;
}

nav a {  
    color: #fff;  
    display: block;  
    width: 120px; 
    height: 80px; 
    text-align: center;  
    text-decoration: none;  
    line-height: 40px;  
} 

nav li:last-child a {  
    border-right: 0;  
}  

nav a:hover {  
    background-color: #25282d;  
}  

nav a.current {
    background-color: #bb2a3b;  
}

nav a#pull {
	display: none;
}


/*  Header  */

.mobileNav{
	display:none;
}

#header{
	background-color:#c30;
	width:100%;
	height:50px;
	border-bottom: 2px solid #E4C462;
	position: fixed;
	z-index: 999;
}

#title{
	margin-top:5px;
	color:#fff;
	margin-right:30px;
	font-size:1.3em;
}

#header a{
	text-decoration:none;
	color:#FFC;
}

#menuButton{
	margin-top:10px;
}

.searchbar{
	margin: 1em 0;
}

#myAccount{
	margin-top:10px;
}

#shoppingBag{
	margin-top:10px;
}

/* Home Content */

#site-content{
	background-color:#FEF3C7;
}

#homeBannerBg img{
	padding-top:100px;
	width:100%;
}

#homeBanner{
	color:#FFF;
	text-align:center;
	background: url("../img/banner.jpg") no-repeat center fixed;
	width: 100%;
	height: 25em;
	background-size: 100%;
}

#homeBanner h1{
	font-size:6em;
	margin:0;
	padding: 50px 0 0 0;
}

#section{
	margin-top:0px;
	height:320px;
}

.section{
	margin-top:0px;
	height:400px;
	padding: 1em;
}

.sectionInfo{
	padding:50px;
	
}

.featurePrice{
	text-align:center
}

.subheadings{
	text-align:center;
	color:#c30;
	border-style: solid;
    border-color: #98bf21;
	border-size:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:20px;
	font-size:2em;
	margin-top: 20px;
}

.descriptions{	
	text-align:center;

}

#featuredBg{
	width:100%;
}

.sectionHeading{
	color:#FFF;
	text-align:center;
	font-size:4em;
	position: relative;
}

.bannerHeading {
	top: 2em;
}

#menuBg{
	background: url("../img/menu.jpg") no-repeat center fixed;
	height: 25em;
	background-size: 100%;
	margin: 0;
	width: auto;
	background-position-y: 0px;
}

#locationBg
{
	height:550px;
	background-color:#98bf21;
}

.locationHeading{
	color:#c30;
}

/* Catalog & Product Page */

.productSection{
	margin-bottom:50px;
	text-align:center;
}

#mainCourse{
	margin-top:10px;
}

.productTitle{
	font-weight:bold;
}

.productImages{
	margin-top:30px;
	background-color:#fff;
	
}

.productThumb{
	text-align:center;
}

.productThumb a{
	text-decoration:none;
}

.productThumb h3{
	font-size:0.8em;
	color: #000;
}

.productThumb img{
	background-color:#FFF;
	box-shadow: 4px 4px 4px #f0e7c4;
	margin:5px;
	padding:5px;
}

.productSection a{
	text-decoration:none;
}

#productPage{
	padding-top:150px;
	
}

#productPageImage{
	margin-top:-75px;
}

#productPageImage a{
	padding-top:0px;
	padding-bottom:10px;
	text-decoration:none;
	color:#000;
}

#productPageImage img{
	box-shadow: 4px 4px 4px #f0e7c4;
}

#price{
	font-size:2em;
	font-weight:bold;
	color:#c30;
}

.price{
	font-size:2em;
	font-weight:bold;
	color:#c30;
}

#buyButton{
	background-color:#98bf21;
	color:#fff;
	border:none;
	padding-top:15px;
	padding-bottom:15px;
	padding-left:28px;
	padding-right:28px;
	text-decoration:none;
}

#buyButton:hover{
	background-color:#F90;
	
}

#productDescription{
	margin-top:30px;
}


#recommmendedProducts{
	padding-top:70px;
	padding-bottom:20px;
}

.rating {
    float:left;
}

.rating:not(:checked) > input {
    position:absolute;
    top:-9999px;
    clip:rect(0,0,0,0);
}

.rating:not(:checked) > label {
    float:right;
    width:1em;
    padding:0 .1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:200%;
    line-height:1.2;
    color:#ddd;
    text-shadow:1px 1px #bbb, 2px 2px #666, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:before {
    content: '★ ';
}

.rating > input:checked ~ label {
    color: #f70;
    text-shadow:1px 1px #c60, 2px 2px #940, .1em .1em .2em rgba(0,0,0,.5);
}

.rating:not(:checked) > label:hover,
.rating:not(:checked) > label:hover ~ label {
    color: gold;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > input:checked + label:hover,
.rating > input:checked + label:hover ~ label,
.rating > input:checked ~ label:hover,
.rating > input:checked ~ label:hover ~ label,
.rating > label:hover ~ input:checked ~ label {
    color: #ea0;
    text-shadow:1px 1px goldenrod, 2px 2px #B57340, .1em .1em .2em rgba(0,0,0,.5);
}

.rating > label:active {
    position:relative;
    top:2px;
    left:2px;
}

/* Cart */

#cartPage{
	padding-top:150px;
	font-weight:bold;
	margin-bottom:80px;
}

table {

    border-collapse: collapse;
	background-color:#fff;
	width:100%;
}

th{
    border: 1px solid black;
	font-weight:100;
	background-color:#C30;
	color:#fff;
	
}

th, td {
    padding: 5px;
	border: 3px solid #FEF3C7;
	text-align:center;
}

th {
    text-align: left;
}

#cartTable img{
	width:30%;	
}

#pickup{
	background-color:#fff;
	text-align:center;
	width:100%;
	padding:30px;
	border:2px solid #f0e7c4;
}

#pickup p{
	color:#c30;
	margin-bottom:10px;
	font-size:1.2em;
}

#checkout{
	background-color:#fff;
	margin-top:10px;
	text-align:center;
	width:100%;
	padding:20px;
	border:2px solid #f0e7c4;
}

#checkout h4{
	color:#c30;
	font-size:1.2em;
}

#checkout p{
	font-size:2em;
}

/* Client */

#personalInfo{
	background-color:#fff;
	padding:20px;
}

span{
	margin-left:10px;
	color:#666;
}

#accountTitle{
	text-align:center;
	color:#c30;
	margin-bottom:20px;
	font-size:2em;
	margin-top:-50px;
}

.editButton{
	background-color:#98bf21;
	color:#fff;
	border:none;
	padding-top:5px;
	padding-bottom:5px;
	padding-left:13px;
	padding-right:13px;
	margin-top:10px;
	margin-bottom:10px;
	border-radius:5px;
}

.editButton:hover{
	background-color:#c30;
}

#visa{
	width:20%;
	float:left;
	margin-left:20px;
}

.accountHeading{
	text-align:center;
	font-size:1em;

	margin:10px;
}

.centerText{
	text-align:center;
}

#continueButton{
	float:right;
	padding:10px;
	border:none;
	background-color:#98bf21;
	border-radius:5px;
	color:#fff;
}

#continueButton:hover{
	background-color:#c30;
}

/* Admin Page */

.admin #cartPage {
	padding-top: 0;
	position: relative;
	top: 3em;
}

.admin #cartTable img {
	width: 60px;
}

.admin .addProduct {
	margin: 1em 0;
}

.admin .addProduct input[type=text],
.admin .addproduct select,
.admin .addProduct textarea {
	border-radius: 5px;
	padding: 5px;
	border: 2px solid #98bf21;
	margin: 0 15px;
}

.admin .addProduct textarea {
	margin-left: 0;
	width: 100%;
}

.admin .addProduct input[type=file] {
	width: 220px;
}

.admin .addProduct input[type=submit] {
	float: right;
	padding: 5px 20px;
	background: #98bf21;
	color: #fff;
	border: 0;
	border-radius: 5px;
	margin: 10px 0;
}

/* Footer */

#footerBgg{
	margin-top:870px;
	background-color:#c30;
	height:57px;
	color:#ffc;	
	font-size:0.8em;
}

#footerBgg p{
	margin-top:20px;
	text-align:center;
}

footer.row {
	margin-bottom: 0;
}

footer {
	padding: 10px 0 0;
	position: relative;
	bottom: 0;
	margin: 0;
}

footer a:link, a:active, a:visited {
	color: #fff;
	font-size: 14px;
	display: inline-block;
}

#subheadings{
	text-align:center;
	color:#c30;
	border-style: solid;
    border-color: #98bf21;
	border-size:10px;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:20px;
	font-size:2em;
	margin-top:-50px;
}

/* Shipping Info/Fulfillment */

#fulfillmentTitle{
	margin-top:100px;
	margin-bottom:40px;
}

#fulfillmentTitle input{
	width:100%;
	margin-top:20px;
	margin-bottom:20px;
}

.removeButton{
	color:#c30;
}

/* Footer */

#footerBg{
	background-color:#c30;
	height:57px;
	color:#ffc;	
	font-size:0.8em;
}

#footerBg p{
	margin-top:20px;
	text-align:center;
}

.mobileNav{
	display:none;
}

/*mobile navigation*/


/*Styles for screen 960px and lower*/
@media screen and (max-width: 960px) {
	nav {
		padding: 0;
		height: auto;
	}	
	nav img#logo {
		height: 60px;
		position: relative;
		margin-top: 20px;
		margin-right: auto;
		margin-left: auto;
	}
}

@media screen and (max-width: 768px) {
	#welcome {
		margin-top: -90px;
	}
	canvas {
		margin-top: -350px;
		margin-left: 260px;
	}
	#words_left {
		width: 370px;

	}
	#words_left h2{
		margin-top: 100px;
		font-size: 3em;
		margin-left: auto;
		margin-right: auto;
		padding-bottom: -20px;
	}
	p.services_p {
		display: none;
	}

	h3.services_h3 {
		display: none;
	}

	img.services_image {
		display: none;
	}

	.accordion {
		display: block;
	}
}

@media screen and (max-width: 600px) {
	#testimonialBg{
		display:none;
	}
	
	.comment{
		font-size:1.1em;
		width:100%;
	}
	
	.testimonialHeader{
		line-height:27px;
		font-size:1.3em;
	}
	
	#testimonials img{
		width:50%;
	}
	
	#title{
		font-size:1em;
		margin-top:-60px;
	}
	
	#aboutPic img{
		display:none;
		
	}
	
	#aboutParagraphs{
		float:left;
		margin-top:-10px;
	}
	
	#aboutPicMobile{
		display:inline;
		width:40%;
		margin-top:20px;

	}
	
	#contactInfo img{
		width:25%;
	}

	canvas {
		margin-left: 180px;
	}

	hr#larp {
		display: block;
	}

	#services {
		display: none;
	}

	hr#middle {
		display: block;
	}

	nav {
		padding: 0;
		height: auto;
	}

	nav img#logo {
		position: relative;
		height: 100%;
		margin: 20px auto;
	}

	nav ul {
		width: 100%;
		display: block;
		height: auto;
		margin-bottom: -1px;
	}

	nav li {
		width: 100%;
		float: none;
		position: relative;
	}
	nav li a {
		border-bottom: 1px solid #25282d;
	}
	nav a {
		text-align: center;
		width: 100%;
		height: auto;
		text-indent: 25px;
	}


}


@media only screen and (max-width: 568px) {
	#responsiveNav{
		display:block;
	}

	nav img#logo {
		height: 50px;
	}
}

/*Styles for screen 515px and lower*/
@media only screen and (max-width: 480px) {
	canvas {
		margin-left: 100px;
	}
	#words_left {
		width: 260px;
	}
	#words_left h2{
		font-size: 2em;
	}
	nav {
		border-bottom: 0;
	}
	nav ul {
		display: none;
		height: auto;
	}
	nav a#pull {
		text-align: left;
		display: block;
		background-color: #bb2a3b;
		width: 100%;
		position: relative;
	}
	nav a#pull:after {
		content: "";
		background: url('../img/nav-icon.png') no-repeat;
		width: 20px;
		height: 20px;
		display: inline-block;
		position: absolute;
		right: 15px;
		top: 10px;
	}
}

@media only screen and (max-width: 375px) {
	nav img#logo {
		height: 50px;
	}
	canvas {

		margin-left: 80px;
	}

}


/*Smartphone*/
@media only screen and (max-width: 320px) {

	nav img#logo {
		height: 50px;
	}
	canvas {

		margin-left: 40px;
	}


	nav li {
		display: block;
		float: none;
		width: 100%
	}
	nav li a {
		border-bottom: 1px solid #576979;
	}
}
